ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: paleturquoise;
    display: inline;
    
  }

.sticky{
    top: 0px;
    position: sticky;
}
  
  li {
    float: right;
  }
  
  li a {
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }